body{
  background-image: linear-gradient(to bottom, #6fe1e1 0%, #5a2699 100%);
}
/* gradient styling added from https://webgradients.com/ */

.col-md-6{
  border: 10px solid white;
  margin-top: 200px !important;
  padding: 20px
}

button{
  margin: 20px !important;
  border: 2px solid black !important;
}

h1{
  font-weight: bolder !important;
  margin: 20px !important;
}
/* some stylings are not automatically added when using Bootstrap.
Using the !important tag will override the Bootstrap class & apply the margin change */